@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    /* color */
}

span {
    font-size: .9rem;
    color: grey;
}

h6 {
    font-size: 1.1rem;
    /* color */
}

/* navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1100;
}

nav h1 {
    cursor: pointer;
}

nav .navigation {
    display: flex;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav .navigation ul li {
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(46, 46, 59);
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease;
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover {
    color: rgb(255, 217, 29);
    /* ganti warna nnti */
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}

label {
    display: none;
}

.active {
    border-bottom: 2px solid white;
}

/* Home */

#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("/image/home-image.jpg");
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h2 {
    color: white;
    font-size: 3.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home a.button1 {
    color: white;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a.button1:hover {
    color: rgb(21, 21, 100);
    background: white;
}

#home a.button2 {
    color: white;
    background: rgb(245, 209, 27);
    transition: 0.3s ease;
}

#home a.button2:hover {
    color: rgb(21, 21, 100);
    background: white;
}

/* features */

#features {
    padding: 5vw 8vw 6vw 8vw;
    margin-top: 100px;
    text-align: center;
    background-color: rgba(243, 243, 243, 0.805)
}

#features .ft-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .ft-box {
    background: #F9F9FF;
    text-align: start;
    padding: 15px;
    border: rgba(44, 44, 80, 0.5) solid 1px;
}

#features .ft-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#features .ft-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}

#features .ft-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}

/* courses */

#course {
    padding: 4vw 8vw 0 8vw;
    text-align: center;
}

#course .cr-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    grid-gap: 1rem;
    margin-top: 50px;
    grid-auto-rows: 1fr
}

#course .courses {
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    position: relative;
}

#course .courses img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
}

#course .courses .details {
    padding: 15px 15px 0 15px;
}

#course .courses .details i {
    color: #FDC93B;
    font-size: .9rem;
    padding-bottom: 15px;
}

#course .courses .cost {
    color: white;
    background-color: rgb(74, 74, 136);
    line-height: 70px;
    font-size: small;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 50px;
}

/* testimonies */

#testim {
    padding: 4vw 8vw 2vw 8vw;
    text-align: center;
}

#testim .test-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 50px;
}

#testim .test-box .profile {
    background-color: #fafaf1;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#testim .test-box .profile img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    padding: 20px;

}

#testim .test-box .profile .pro-title {
    margin-bottom: 12px;
    margin-top: 5px;
    color: rgb(77, 77, 77);
}

#testim .test-box .profile .pro-desc {
    padding: 0 5px 10px;
    text-align: center;
}

/* footer */

footer {
    background-color: #101c32;
    margin-top: 70px;
}

footer .foot-container {
    width: 100%;
    padding: 50px 30px 10px;
}

footer .foot-container .socials {
    display: flex;
    justify-content: center;
}

footer .foot-container .socials a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

footer .foot-container .socials a i {
    font-size: 2rem;
    color: #101c32;
    opacity: 0.9;
}

footer .foot-container .socials a:hover {
    background-color: #101c32;
    transition: 0.3s ease;
}

footer .foot-container .socials a i:hover {
    color: white;
    transition: 0.3s ease;
}

footer .foot-container .foot-links {
    margin: 20px 0;
}

footer .foot-container .foot-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer .foot-container .foot-links ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.4 ease;
}

footer .foot-container .foot-links ul a:hover {
    opacity: 1;
}

footer .foot-bottom {
    background-color: #09101d;
    padding: 20px;
    text-align: center;
}

footer .foot-bottom p {
    color: rgb(215, 215, 215);
}

footer .foot-bottom .company {
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
    font-size: medium;
}

/* About Page */

#about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("/image/about-land2.jpg");
    width: 100%;
    height: 60vh;
    padding-top: 40px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-home h2 {
    color: white;
    font-size: 2.2rem;
}

#about-container {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
    justify-content: space-evenly;
}

#about-container .about-img img {
    width: 100%;
}

#about-container .about-img {
    width: 40%;
    justify-content: center;
}

#about-container .about-text {
    width: 50%;
    padding: 60px;
}

#about-container .about-text h2 {
    color: #29303B;
    padding-bottom: 15px;

}

#about-container .about-text p {
    color: #686F7A;
    font-weight: 300;
}

#about-container .about-text .about-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

#about-container .about-text .about-details img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

#about-container .about-text .about-details .det-text {
    width: 90%;
}

#about-container .about-text .about-details .det-text h5 {
    font-size: 16px;
    color: #29303B;
}

/* trusted by */
#companies {
    text-align: center;
    padding: 8vw 6vw 4vw 6vw;
}

#companies p {
    margin-top: 5px;
    opacity: 0.9;
}

#companies .comp-images {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#companies .comp-images img {
    width: auto;
    height: 100px;
}

/* gallery page */

#showcase {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 30px 0px 10px 0;
    font-weight: 500;
}

#gallery {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1vw 4vw 3vw 4vw;
}

#gallery-pics {
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(36, 36, 36);
    border-radius: 8px;
}

#gallery-pics img {
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1000ms;
}

#gallery-pics ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 100%;
    width: 70rem;
}

#gallery-pics figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

#gallery-pics figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    transform-origin: center;
    opacity: 0;
    transform: scale(2);
    transition: opacity 300ms;
}

@media (prefers-reduced-motion: no-preference) {

    #gallery-pics figure::after {
        border-radius: 50%;
        opacity: 1;
        transform: scale(0);
        transition: transform 900ms;
    }

    #gallery-pics a:is(:hover, :focus) img {
        transform: scale(1.2);
    }
}

/* 
#porto-container .porto-post {
    width: 60%;
}

#porto-container .porto-post img {
    width: 100%;
    border-radius: 10px;
}

#porto-container .porto-post .post {
    padding-bottom: 60px
}

#porto-container .porto-post .post h3 {
    color: #29303B;
    padding: 15px 0 10px 0;
}

#porto-container .porto-post .post p {
    color: #757373;
    padding-bottom: 20px;
}

#porto-container .porto-post .post a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(21, 21, 100);
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}

#porto-container .porto-cate {
    width: 30%;
}

#porto-container .porto-cate h2 {
    padding-bottom: 7px;
}

#porto-container .porto-cate p {
    padding-top: 7px;
} */

/* courses page */
#myinput {
    width: 35%;
    margin-top: 30px;
    padding: 10px;
    font-size: medium;
    border-radius: 7px;
    border: #757373 solid 1px;
    outline: none;
}

#over100 {
    padding-top: 5px;
}

#search-error {
    display: none;
    margin-top: 50px;
    font-size: larger;
    color: rgb(255, 68, 68);
}

#card {
    transition: all 0.5s ease;
}

#card .courses:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

/* contact us */
#contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .getin {
    width: 350px;
}

#contact .getin h2 {
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .getin p {
    color: #686F75;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d7d7dc;
}

#contact .getin h3 {
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div {
    display: flex;
}

#contact .getin .getin-details div .get {
    font-size: 16px;
    line-height: 22px;
    color: #2c234d;
    margin-right: 20px;
}

#contact .getin .getin-details div p {
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .form {
    width: 60%;
    background-color: #efefef;
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4 {
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p {
    color: #686F75;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: white;
    color: #686F7A;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form .form-col textarea,
#contact .form .form-col input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: white;
    color: #686F7A;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#contact .form .form-col button {
    font-size: .9rem;
    color: white;
    padding: 13px 25px;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* login page */
#login {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("/image/about-land2.jpg");
    width: 100%;
    height: 110vh;
    padding-top: 40px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box h2 {
    color: rgb(255, 217, 29);
    font-size: 2.2rem;
}


.log-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 350px;
}

.log-container .box {
    padding: 30px 40px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-box h2 {
    padding-bottom: 10px;
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .field label {
    display: block;
    color: black;
    padding: 1px;
    text-align: left;
}

.form-box form .input input {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-sub {
    height: 35px;
    background: rgb(175, 174, 174);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 5px;
}

.btn-sub:hover {
    opacity: 0.75;
}

.links {
    font-size: 15px;
}

#log-footer {
    margin-top: 0;
}

@media (max-width: 769px) {

    /* responsive navbar */
    nav {
        padding: 15px 20px;
    }

    nav .navigation ul {
        display: flex;
        font-size: 1.2em;
        position: absolute;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        top: 76px;
        width: 100%;
        height: calc(100vh -50px);
        transition: 0.5s;
        background-color: rgb(241, 241, 241);
        padding: 25px 0 25px 0;
    }

    .navigation li a:hover {
        color: red;
    }

    input[type="checkbox"]:checked~ul {
        left: 0;
    }

    label {
        display: block;
        cursor: pointer;
    }

    /* footer */
    .foot-links ul {
        flex-direction: column;
    }

    .foot-links ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    /* about-page */
    #about-container {
        padding: 8vw 4vw 2vw 4vw;
    }

    #about-container .about-img {
        display: none;
    }

    #about-container .about-text {
        width: 100%;
        padding: 40px 5px 30px 5px;
    }

    #companies .comp-images img {
        width: auto;
        height: 50px;
    }

    /* portofolio page */
    #porto-container {
        padding: 7vw 2vw;
        flex-direction: column-reverse;
    }

    #porto-container .porto-cate {
        width: 100%;
        margin-bottom: 30px;
    }

    #porto-container .porto-post {
        width: 100%;
    }

    /* contact page */
    #contact {
        padding: 8vw 4vw;
        flex-direction: column;
        align-content: flex-start;
    }

    #contact .getin {
        width: 100%;
    }

    #contact .form {
        width: 100%;
        padding: 25px;
    }
}